<h2 class="text-lg leading-8 indent-1 m-2 text-slate-200">
	Android Development:
</h2>
<p class="text-xl font-thin indent-3 m-5 text-slate-200">
	My experience of android development consists of working as a freelancer for
	2 projects for around 2,5 years, during that time I've learnt the basics of
	the java development on the android framework.<br />
</p>
<p class="text-xl font-thin indent-3 m-5 text-slate-200">
	I won't go here in the details of my work, but feel free to contact me on my
	email for more in-depth information.
</p>
